@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Trebuchet MS, Georgia, Verdana;
}

.shadow-primary {
  box-shadow: 0 4px 20px rgba(0, 53, 89, 0.5);
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
